{
  "Servers": {
    "1": {
      "Name": "db-postgres",
      "Group": "Servers",
      "Host": "db-postgres",
      "Port": 5432,
      "MaintenanceDB": "postgres",
      "Username": "__POSTGRES_USER__",
      "SSLMode": "disable",
      "PassFile": "/pgadmin4/pgpass"
    }
  }
}
